<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593331701241-jfb7inkubghl8uhb7kfco9us382g5nit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593331701241-jfb7inkubghl8uhb7kfco9us382g5nit</string>
	<key>API_KEY</key>
	<string>AIzaSyDns4wiQg24qvCPjlV1IX84kQQ4sVuD6aA</string>
	<key>GCM_SENDER_ID</key>
	<string>593331701241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-6d2df</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-6d2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593331701241:ios:da5eaad131ae2dbb8d2928</string>
</dict>
</plist>